/* --- Defining Varibales --- */

:root {
    --primary-color: #cc0000;
    --secondary-color: #300606;
    --third-color: #ffe2e2;
    --white-color: #fff;
    --text-color: #3d3d3d;
    --black-color: #000;
    --secondary-bg-color:#eaeaea77;
    --primary-font: "poppins", sans-serif;
    /* --secondary-font : 'Quicksand', sans-serif; */
  }
  
  *,
  *:after,
  *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  *:focus {
    outline: none;
  }
  
  :active,
  :hover,
  :focus {
    outline: 0 !important;
    outline-offset: 0;
  }
  
  a,
  a:hover {
    text-decoration: none;
  }
  
  a:hover {
    color: var(--primary-color) !important ;
  }
  
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
  }
  
  /* --- Custom Scrollbar ---*/
  
  ::-webkit-scrollbar {
    width: 0.325rem;
  }
  ::-webkit-scrollbar-track {
    background: var(--white-color);
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #1f0000, #770303);
  }
  
  /* ---- Custome CSS Design ---- */
  
  h1 {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--secondary-color);
  }
  
  h2 {
    font-weight: 600;
    font-size: 2.25rem;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
  }
  
  h4 {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  
  h5 {
    color: var(--black-color);
    font-family: var(--secondary-font);
    
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  
  p {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
  }

  .wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
  }


/*  Breadcrumb-section  */
.breadcrumb {
    height: 40px;
    margin-bottom: 0;
    line-height: 40px;
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 0;
  }

  /* product-image-section */

  .sub-img-col{
      display:grid;
      align-items: center;
      justify-content: space-between;
  }

  .sub-img-icon{
      height: 90px;
      max-width: 90px;
      object-fit: cover;
      object-position: center;
      cursor: pointer;
      margin-bottom: 10px !important;
  }
  .sub-img-icon img{
      height: 90px;
      max-width: 90px;
      border-radius: 5px;
      cursor: pointer;
      object-fit: cover !important;
      object-position: center !important; 
  }
  .main-active-img img{
    max-width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 5px;
    object-position: center;
  }
  .text-over-img{
      position: absolute;
      bottom: 100px;
      color: var(--white-color);
      left: 350px;
      text-align: center;
      font-size: 12px;
      font-weight: 300;
  }

  .quality-img{
      display: inline-flex;
      justify-content: space-between;
      /* position: relative;
      top: 60px; */
  }
  .quality-img img{
      padding-left: 10px;
  }
  .quality-img img:nth-child(1){
    position: relative;
    top: 10px;
  }
  .quality-img img:nth-child(2){
      height: 36px;
      max-width: 212px;
      position: relative;
      top: 20px;
      left: 15px;
  }
  .active-product-title{
    font-weight: 600;
  }

  .pdt-img-slider{
    max-width: 800px;
  }
  .pdtmodel-close-btn{
    background-color: #fff;
    position:relative;
    top: 55px;
    left: 50px;
  }
  .pdt-img-model{
    background-color: transparent;
    border: none;
  }

  .pdt-img-carousel .owl-prev{
    position: absolute;
    left: -45px;
    top: 200px;
    bottom: 70px;
    background-color: white !important;
    height: 25px;
    width: 25px;
    border-radius: 50px !important;
    box-shadow: 0px 0px 10px #0000001c;
  }
  .pdt-img-carousel  .owl-prev:hover{
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
  }
  
  .pdt-img-carousel  .owl-next{
    position: absolute;
    right: -45px;
    top: 200px;
    bottom: 70px;
    background-color: white !important;
    height: 25px;
    width: 25px;
    border-radius: 50px !important;
    box-shadow: 0px 0px 10px #0000001c;
  }
  
  .pdt-img-carousel  .owl-next:hover{
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
  }

  .rating-review{
    font-size: 14px;
  }
  .rating-review .rating-star{
    color: #f7c100;
  }
  .rating-review .review-count{
    color: var(--primary-color);
    font-weight: 300;
  }
  .active-pdt-price{
    color: var(--primary-color);
  }
  .active-pdt-price sup{
    font-size: 18px;
    margin-right: 3px;
    font-weight: 600;
  }
  .active-pdt-price .product-amt{
    font-size: 32px;
    font-weight: 600;
  }
  .active-pdt-price .strick-amt{
    color: var(--text-color);
    font-weight: 300;
  }
  .tgv-offer .card{
    border-color: var(--primary-color) !important;
  }
  .tgv-offer .card img{
    max-width: 50px;
    position: relative;
    top: 15px;
    left: 10px;
  }
  .tgv-offer .card .card-body{
    margin-left: 10px;
  }
  .tgv-offer .card .card-body .card-title{
    color: var(--primary-color);
  }
  .tgv-offer .card .card-body .card-title span{
    color: var(--text-color);
    font-weight: 600;
    font-size: 14px;
    font-style: italic;
    float: right;
    margin-right: 20px;
    margin-top: 15px;
  }
  .tgv-offer .card .card-body .card-text span{
    color: var(--primary-color);
    font-weight: 600;
  }

  .cart-pdt-img img{
    max-width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
  .cart-pdt-title p{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.25;
  }
  .cart-pdt-img small{
    font-size: 12px;
  }
  .cart-pdt-price p{
    color: var(--primary-color);
  }
  .cart-pdt-footer{
    padding: 10px;
    position: fixed;
    display: inline-flex;
    bottom: 0;
  }
  .cart-pdt-footer button{
    width: 150px;
    margin-left: 20px;
  }
  .cart-pdt-footer .white-btn{
margin-top: 0px !important;
margin-right: 15px;
  }
  .cart-addon-counter{
    position: relative;
    left: 0px !important;
    top: 0px !important;
  }

  /* Pick-And Upgrade-section */

  .product-varient table tbody tr td{
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
  }
  .product-varient table tbody tr td img{
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    width: 80px;
  }
  .product-varient table tbody tr td .var-opt{
    color: var(--text-color);
  }
  .product-varient table tbody tr td .var-price{
    color:var(--primary-color);
    line-height: 0;
    font-weight: 500;
  }
  
  .sub-img-var:nth-child(4){
    position: relative;
    bottom: 28px;
  }
  .sub-img-var .plus{
    color: var(--white-color);
    height: 80px;
    width: 80px;
    line-height: 2.8;
    border-radius: 5px !important;
    font-size: 28px;
    font-weight: 200;
    text-align: center;
    background-color:#4d4d4de1;
  }

  /* delivey_date & Delivey_time */

  .imp-txt{
    color: var(--primary-color);
    font-size: 12px;
  }
  .calendar-btn .input-group-text{
    background-color: transparent;
    padding: 20px;
    color: rgb(155, 155, 155);
    font-size: 18px;
    border-right: none;
  }
  .calendar-btn .form-control{
    border-left: none;
  }
  .time-button{
    width: 100%;
    padding: 17px;
    color: #7e858d;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
  }
  .time-btn .fa-clock{
    margin-right: 20px;
    color: rgb(155, 155, 155);
    font-size: 18px;
  }
  /* Buy Button & Wish List-button */
  .book-btn{
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 22px;
  }
  .wishlist-btn{
    margin-top: 0px;
    width: 100%;
    font-size: 22px;
    padding: 10px;
  }

  /* product-description and why shop with TGV */

.product-description .why-icon{
  cursor: pointer;
  max-width: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.123);
  border-radius: 5px;
  margin: 7px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.why-shop ul li{
  cursor: pointer;
  list-style: none;
}
.why-txt{
  line-height: 0;
  font-size: 16px;
  font-weight: 500;
}

.product-description .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: var(--primary-color) !important;
  border: none;
  border-bottom: 2px solid var(--primary-color);
}
.product-description .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
  color: var(--text-color) !important;
  border: none;
}

.inclusions-icon .inclusion img{
  border-radius: 50px;
  max-width: 50px;
  margin-right: 10px;
}
.inclusions-icon .inclusion span{
  font-size: 14px;
  font-weight: 500;
}

/* Addon-popup-style */

.addon{
  width: 100%;
  height: 380px;
  padding: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.075);
  background-color: #eaeaea;
  border-radius:5px ;
}
.addon .addon-price p{
  position: absolute;
  left: 150px;
  bottom: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.344);
  height: 40px;
  width: 40px;
  padding: 10px 6px;
  border-radius: 50px;
  background-color: var(--white-color);
}
.addon .addon-price p{
  color: var(--primary-color);
  font-weight: 600;
  font-size: 14px;
}

.addon-counter{
  display: inline-flex;
  position: relative;
  left: 25%;
  top: 10px;
  text-align: center;

}
.addon-minus,.addon-plus{
  border: none;
  height: 30px;
  max-width: 30px;
  margin-right: 10px;
  margin-left: 10px;
  background: transparent;
}
.addon-counter .addon-num{
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 2.5px;
  width: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
  background-color: var(--white-color);
}
