@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap");

/* --- Defining Varibales --- */

:root {
  --primary-color: #cc0000;
  --secondary-color: #300606;
  --third-color: #ffe2e2;
  --white-color: #fff;
  --text-color: #3d3d3d;
  --black-color: #000;
  --secondary-bg-color:#eaeaea77;
  --primary-font: "poppins", sans-serif;
  /* --secondary-font : 'Quicksand', sans-serif; */
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color) !important ;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
}

/* --- Custom Scrollbar ---*/

::-webkit-scrollbar {
  width: 0.325rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #1f0000, #770303);
}

/* ---- Custome CSS Design ---- */

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--secondary-color);
}

h2 {
  font-weight: 600;
  font-size: 2.25rem;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

h4 {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h5 {
  color: var(--black-color);
  font-family: var(--secondary-font);
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
}

.logo-main {
  margin-top: 12px;
  max-width: 120px;
}
/* CSS for button */
.main-btn {
  display: inline-block;
  padding: 0.4rem 1.575rem;
  line-height: 1.5625rem;
  background: linear-gradient(0deg, #1f0000, #770303);
  color: var(--white-color);
  font-size: 0.9375rem;
  border-radius: 0.2rem;
  outline-offset: 0px;
  outline: none;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all.4s ease-out 0s;
  -o-transition: all.4s ease-out 0s;
  -moz-transition: all.4s ease-out 0s;
  transition: all.4s ease-out 0s;
}

.white-btn {
  display: inline-block;
  margin-top: 12px;
  padding: 0.4rem 1.575rem;
  line-height: 1.5625rem;
  background-color: var(--white-color);
  border: 0.1875rem solid var(--white-color);
  color: var(--primary-color);
  font-size: 0.9375rem;
  border-radius: 0.2rem;
  font-weight: 600;
  text-transform: capitalize;
  border: 2px solid #ebebeb;
  -webkit-transition: all.4s ease-out 0s;
  -o-transition: all.4s ease-out 0s;
  -moz-transition: all.4s ease-out 0s;
  transition: all.4s ease-out 0s;
}

.main-btn:hover {
  background: transparent;
  color: var(--primary-color);
}

.white-btn:hover {
  background-color: transparent;
  color: var(--white-color);
  background: linear-gradient(0deg, #1f0000, #770303);
}

/* CSS FOR TOP HEADER */
.top-header {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.13);
}

.col-search {
  margin-top: 12px;
}
.search-input {
  border-right: 0px;
  background-color: #f4f4f4;
}
.top-header-icons {
  margin-top: 10px;
}
.top-nav-icon {
  color: #7b7b7b;
}

.col-search form {
  display: flex;
  height: 40px;
  min-width: 18% !important;
}
.col-search form .search-data {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  border-radius: 2px;
  background-color: #f4f4f4;
  color: #000;
  border: none;
}

.col-search form .search-button {
  padding: 0 15px;
  background-color: #f4f4f4;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #7b7b7b;
  border-radius: 2px;
}

.gift-finder-area {
  padding-left: 40px;
  padding-right: 40px;
}

/* CSS FOR MENU BAR */

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
.navbar-light .navbar-nav .nav-link {
  color: var(--black-color);
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.side-banner {
  max-width: 305px;
}

/* CSS for category-banner-section */

.category-banner-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.category-banner-section-title {
  padding-bottom: 10px;
}
.category-banner-title {
  color: #fff !important;
  font-weight: 400;
}
.carousel-caption {
  text-align: left !important;
}
.offer-banner {
  max-width: 100%;
  margin-bottom: 50px;
}

/* REVIEW SECTION */
.review-section {
  background-color: #eaeaea77;
  padding-top: 50px;
  padding-bottom: 50px;
}
.review-section .card {
  border-radius: 10px;
  border: none;
  transition: ease-in-out 0.5s;
}
.review-section .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.review-section .card {
  text-align: center;
  padding: 50px 15px;
}
.review-section h4 {
  margin-bottom: 25px;
}
.review-section .card .card-body .rating {
  font-size: 12px;
  padding: 10px;
}
.review-section .card .card-body .rating .star-rating {
  color: rgb(241, 197, 0);
}
.review-section .card .card-body p {
  font-size: 12px;
  padding-top: 10px;
  color: var(--text-color);
  line-height: normal;
}



.video-exp-section {
  padding: 50px 0 50px 0px;
}

.video-exp-section .card{
  border: none;
  border-radius: 10px;
  transition: ease-in-out 0.25s;
}

.video-exp-section .card:hover{
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
}

.video-exp-section .card .card-img-top{
  height: 280px;
  max-width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.video-exp-section .card .product-name{
  font-weight: 500;
  line-height: 1.5;
}

.video-exp-section .card .card-body span{
  font-weight: 600;
  font-size: 18px;
  color: var(--primary-color);
}
.video-exp-section .card .card-body .strick-rate{
  font-size: 12px;
  font-weight: normal;
  color: var(--text-color); 
}
.video-exp-section .card .card-body .wish-rating-2{
  float: right;
}
.video-exp-section .card .wish-rating-2 .wishlist-icon-2{
  background-color: var(--white-color);
  padding: 3px;
  font-size: 12px;
  color: var(--text-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.103);
  border-radius: 30px;
  display: inline-block;
  height: 25px;
  width: 25px;
  text-align: center;
}

.video-exp-section .card .wish-rating-2 .rating-icon-2{
  background-color: var(--white-color);
  padding: 3px;
  font-size: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.103);
  border-radius: 30px;
  color: var(--text-color);
  display: inline-block;
  height: 25px;
  width: 45px;
  text-align: center;
}

.video-exp-section .card .pdt-location{
  position: absolute;
  left: 180px;
  top: 10px;
  font-size: 12px;
  background-color: var(--white-color);
  padding: 5px 10px;
  border-radius: 25px;
}



/* Get more from the store - section */

.store {
  padding: 50px 0 50px 0px;
}
.store .col-md-4 {
  display: grid !important;
  align-content: center !important;
  justify-content: center !important;
}
.store h4 {
  padding-bottom: 25px;
}
.store .top-category-card {
  height: 150px;
  text-align: center;
  width: 150px;
  border-radius: 50%;
}

.store .top-category-card .top-category-icon{
  margin: auto;
}

.store p {
  text-align: center;
  font-weight: 600;
  padding-top: 10px;
}

/* find-more-section */

.find-more-section {
  padding: 50px 0 50px 0px;
}
.find-more-section h4 {
  padding-bottom: 25px;
}

.find-more-section .category-card {
  overflow: hidden;
  height: 380px;
  border-radius: 10px;
  width: 280px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.438) 100%
  );
}

.find-more-section .category-card img {
  max-width: 100%;
  position: relative;
  z-index: -1;
  transform: scale(2.2) translateY(40px) translateX(25px);
  object-fit: cover;
}
.find-more-section .category-card .category-title {
  position: relative;
  left: 25px;
  top: 120px;
}
.find-more-section .category-card .category-title p {
  color: var(--white-color);
  font-weight: 600;
}

/* Decoration Category-card-Section */

.decor-ctgy-1 {
  padding: 50px 0 50px 0px;
  background-color: var(--secondary-bg-color);
}

.decor-ctgy-1 .decor-title{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}
.decor-ctgy-1 a{
    color: var(--primary-color) !important;
}
.decor-ctgy-1 a:hover{
    color: var(--text-color) !important;
}
.decor-ctgy-1 .decor-info{
    font-size: 12px;
    line-height: 1.5;
}
.decor-ctgy-1 .card{
    border: none;
    border-radius: 10px;
    transition: ease-in-out 0.25s;
}

.decor-ctgy-1 .card:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);
}

.decor-ctgy-1 .card .card-img-top{
    height: 280px;
    max-width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.decor-ctgy-1 .card .wish-rating{
    position: absolute;
    left: 180px;
    top: 15px;
    
}
.decor-ctgy-1 .card .wish-rating .wishlist-icon{
    background-color: var(--white-color);
    padding: 3px;
    font-size: 12px;
    border-radius: 30px;
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: center;
}
.decor-ctgy-1 .card .wish-rating .rating-icon{
    background-color: var(--white-color);
    padding: 3px;
    font-size: 12px;
    border-radius: 30px;
    display: inline-block;
    height: 25px;
    width: 45px;
    text-align: center;
}

.decor-ctgy-1 .card .card-body .product-name{
    font-weight: 500;
    line-height: 1.5;
}
.decor-ctgy-1 .card .card-body .card-text span{
    font-weight: 600;
    float: right;
    font-size: 18px;
    color: var(--primary-color);
}
.decor-ctgy-1 .card .card-body .card-text span .strick-rate{
    font-size: 12px;
    font-weight: normal;
    color: var(--text-color);
}


/* Why TogetherV section */

.why-section {
  padding: 50px 0 50px 0px;
  text-align: center;
}
.why-section h4 {
  text-align: left;
  padding-bottom: 25px;
}
.icon-card {
  padding: 25px;
}
.why-section .icon-card img {
  padding-bottom: 10px;
}

.why-section .icon-card p {
  font-size: 14px;
  font-weight: 600;
}

.why-section .icon-card span {
  display: block;
  line-height: normal;
  font-weight: normal;
  font-size: 12px;
}

/* BLOG-SECTION */

.blog-section {
  padding: 50px 0 50px 0px;
  max-width: 100%;
}
.blog-section .col-md-7 {
  padding: 0;
}
.blog-section .col-md-5 {
  padding: 0;
}
.blog-section h4 {
  padding-bottom: 25px;
}
.blog-section .blog-post-1 {
  width: 100%;
  height: 420px;
  overflow: hidden;
  transition: ease-in-out 0.5s;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* W3C */
}
.blog-section .blog-post-1 img:hover {
  transform: scale(1.2);
}
.blog-section .blog-post-1 img {
  max-width: 100%;
  position: relative;
  height: auto;
  object-fit: cover;
  transition: ease-in-out 0.5s;
}
.blog-section .blog-post-1 .blog-title-1 {
  position: relative;
  bottom: 115px;
  left: 50px;
}
.blog-section .blog-post-1 .blog-title-1 h4 {
  color: var(--white-color);
}
.blog-section .blog-post-1 .blog-title-1 span {
  display: block;
  color: var(--third-color);
  font-size: 12px;
  margin-top: 10px;
  font-weight: normal;
  letter-spacing: 1px;
}

/* Blog-post-right-side */
.blog-section .blog-post-2 {
  width: 100%;
  overflow: hidden;
  height: 210px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* W3C */
}
.blog-section .blog-post-2 img {
  max-width: 100%;
  position: relative;
  height: auto;
  object-fit: cover;
  z-index: -1;
  transition: ease-in-out 0.5s;
}
.blog-section .blog-post-2 .blog-title-2 {
  position: relative;
  bottom: 220px;
  left: 50px;
}

.blog-section .blog-post-2 .blog-title-2 h4 {
  color: var(--white-color);
}
.blog-section .blog-post-2 .blog-title-2 span {
  display: block;
  color: var(--third-color);
  font-size: 12px;
  margin-top: 10px;
  font-weight: normal;
  letter-spacing: 1px;
}
.blog-section .blog-post-2 .blog-title-3 {
  position: relative;
  bottom: 175px !important;
  left: 50px;
}

/* MOBILE-APP-DOWNLOAD-SECTION */

.mobile-app-section {
  background-image: url("/images/mobile-download-section.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  background-color: #f3f3f3;
}
.download-btn {
  max-width: 100%;
}
.btn-img {
  max-width: 25%;
  display: inline-block;
  margin-right: 10px;
}
.mobile-download-img {
  max-width: 75%;
}

/* FOOTER SECTION */

.footer-section {
  max-height: 100%;
  background: linear-gradient(0deg, #1f0000, #770303);
  /* border-radius: 50px 50px 0px 0px; */
  padding-top: 100px;
  padding-bottom: auto;
}

.footer-section .footer-row-1 {
  padding-bottom: 50px;
}

.footer-section h4 {
  color: var(--white-color);
  text-decoration: underline;
}

.footer-logo {
  max-width: 150px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-section .call-info {
  color: var(--white-color);
  font-size: 18px;
  margin-bottom: 10px;
}
.footer-section .call-info span {
  padding-left: 5px;
}
.footer-section .mail-info {
  color: var(--white-color);
  font-size: 18px;
  margin-bottom: 10px;
}
.footer-section .mail-info span {
  padding-left: 5px;
}

.footer-section .footer-tab .footer-link {
  list-style: none;
  margin-top: 5px;
}
.footer-section .footer-tab .footer-link a {
  text-decoration: none;
  color: var(--white-color);
}
.footer-section .footer-tab .footer-link a:hover {
  text-decoration: underline;
  color: var(--white-color) !important;
}

.footer-section p {
  color: var(--white-color);
}

.newsletter,
.newsletter-mail-icon,
.newsletter-submit-icon,
.newsletter-input {
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid var(--white-color);
  border-radius: 0px;
  color: var(--white-color);
  cursor: pointer;
}
.footer-section .newsletter .newsletter-input {
  color: var(--white-color);
  padding-left: 0px;
}
.footer-section .newsletter .newsletter-input::placeholder {
  color: #eeeeee;
}
.footer-section .social-link span,
.social-link {
  color: var(--white-color) !important;
  font-size: 24px;
  padding-right: 10px;
}

.copyright-section {
  text-align: center;
  border-top: 1px solid var(--white-color);
  padding-top: 15px;
}
